.about-container{

  margin-top: 6em;
  margin-bottom: 3em;
  padding-top: 3.3em;

  height: auto;
  /* width: 1500px !important; */

  /* margin-left: 4px !important;
  margin-right:4px !important;  */

  padding-left: 0 !important;
  padding-right: 0 !important;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(156, 146, 205);
  /* background-color: rgb(93, 187, 242); */
  border-radius: 25px;

  background-color: white;

}

.intro{
  float:right;
  /* background-color: blue; */
  width: 100%;
  height:auto;
  text-align: left;
}
.title-1{
  /* background-color: pink; */

  margin-left: 4%;
  width: 15%;
  font-size:1vh;
}
.title-1 h1{
  font-family: 'Rubik', sans-serif, Bold;
  font-style: Bold;
}

.description-1{
  height: 40%;
  margin-left: 4%;
  margin-top: 1.5%;
  width: 65%;
  float:left;
  text-align: justify;


  /* background-color: grey; */
}
.description-1 h3{
  font-size:3vh;
  line-height: 1.5;
}
.icons{
  padding-top: 0.6em;
  display: flex;
}
.icons ul i{

  height:35px;
  width: 35px;
  padding: 0.3em 0.3em;
  text-align: center;
  border-style: solid;
  border-color: rgb(53, 134, 164);
  border-width: 2px;
  border-radius: 15px;
}
/* .globe{
  margin-right: %;

  display: inline-block;
  float: right;
  width: 350px;
  height: 350px;
} */

.picture-holder{

  height:220px;
  max-width:220px;
   overflow: hidden;
   display: inline-block;
   /* margin-bottom: 2em; */

 margin-left: 4%;

}

.pic-thumb{
  width: 220px;
  height: 220px;
  display: inline-block;
  border-radius: 50%;
  border-style: solid;
  border-color: rgb(53, 134, 164);
  border-width: 2px;
  overflow: hidden;
  /* margin-bottom: 2em; */
  background-image: url('../images/profile.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  background-position:top;
}
/* height for iphoneX */
@media only screen
and (min-device-width : 375px)
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {
  .description-1 h3{
    font-size:2.5vh;
  }

}
/* height for iphone 6,7,8 */
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
  .description-1{
    margin-top: 4%;
    margin-left: 4%;
    width: 90%;
    float:left;



  }

  .description-1 h3{
    font-size:2.5vh;
  }
  .picture{


    margin-right: 25%;
    display: inline-block;
    /* position: relative; */


    max-width: 200px;
    max-height: 200px;
    overflow: hidden;
    border-radius: 50%;

  }
}
/* height for iphone 6,7,8 +    */
@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px) {
  .description-1 h3{
    font-size:2.5vh;
  }
}
