.menu {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(156, 146, 205);
  border-radius: 25px;


  padding-bottom: 0.7em;
  margin-left: 5.5%;
  margin-right:5.5%;

  width: fill;
  height: auto;
  top:0;
  border-radius: 10px;
  z-index: 1;
  position:fixed;

  background-color: rgb(50, 195, 186, 0.83);


}

.large-menu li{
  display: block;
  color:black;
  overflow: hidden;


  height: 100%;
  float:right;

/* background-color: red; */
  width: 80px;

}
.large-menu ul li a{

  color:black;

}
.large-menu ul li :hover{

  color:rgb(0, 210, 231);

}
.small-menu{
  text-align: center;
  margin-left: 0%;
  height: auto;

}
.small-menu li {
  color: black;
display: block;

  width: 100%;
  /* background-color: red; */


}
.small-menu ul li a{
  color:black;
  padding-right: 10%;


}
/* height for iphoneX */
@media only screen
and (min-device-width : 375px)
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {

  .menu{
    margin-left: 0%;

    width: fill;
  }
}
/* height for iphone 6,7,8 */
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
  .menu{
    margin-left: 0%;
    margin-right:0;

    width: fill;
  }

}
/* height for iphone 6,7,8 +    */
@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px) {

  .menu{
    margin-left: 0%;

    width: fill;
  }

}
