.other-container{

  margin-bottom: 3em;
  padding-top: 3.3em;
  padding-bottom: 2em;
  height: auto;




  padding-left: 0 !important;
  padding-right: 0 !important;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(156, 146, 205);
  /* background-color: rgb(93, 187, 242); */
  border-radius: 25px;

  background-color: white;
}
.title-4{
  /* margin-left: 4%; */
  font-size:calc(12px + 1.2vw);
}
.intro{
  float:left;
  /* margin-left: 4%; */
  /* margin-bottom: 1%; */
}
.intro h2{
  margin-bottom: 5%;
}
.languages{
  height:auto;
  /* max-height: 200px; */
  width: 32% !important;
  float:left;
  /* padding: 0 0 !important; */
  background-color: transparent;
}
.each-language{
  float:left;
  text-align: left;
  margin-left: 0 !important;
    padding: 0 0 !important;


}
.each-language ul{
  text-align: left;
  margin-left: 0 !important;
  width: auto;
  float:left;
  padding: 0 0 !important;

}
.progress{
  /* display: inline; */
  width: 65%;
  height: 20% !important;
  margin-left: 3%;
  float:right;
  padding: 0 0 !important;


}
.skillset{
  height:auto;
  /* max-height: 150px; */
  margin-top: 0 !important;
  padding-top: 0 !important;
  width: 32% !important;
  float:left;
  border-right: black 2px solid;
  border-left: black 2px solid;
  text-align: left;


  background-color: transparent;
}
.each-skill{

  display: inline;
}
.skill-but{
  display: inline-flex;
  background-color: rgb(17, 186, 196);
  color:black;
  width: auto;


  border-radius: 10px;

  font-size: 20px;
  padding: 3px 3px;

  margin:4px 4px;
}
.interest{
  height:auto;
  /* max-height: 150px; */
  margin-top: 0 !important;
  padding-top: 0 !important;
  width: 32% !important;
  float:left;
  padding-right: 4% !important;
  background-color: transparent;


}
.each-interest ul{
  display:inline;
  padding: 0.3em 0.3em;
  text-align: left;
  font-size: 13px;
}
